.bg
  background-image url('../../images/template_1.jpg')

.search
  display none

.search-container
  width 90px
  height 81px
  background-color #10274b
  position relative
  text-align center
  padding-top 14px
  box-sizing border-box

//.search-container:before
//  content '\e611'
//  font-family "iconfont" !important
//  font-style normal
//  -webkit-font-smoothing antialiased
//  -moz-osx-font-smoothing grayscale
//  color #9a99ff
//  height 40px
//  width 40px
//  font-size 24px
//  line-height 38px
//  display inline-block
//  -webkit-box-sizing border-box
//  box-sizing border-box
//  border 2px solid #9a99ff
//  border-radius 50%

  search-container:after
    content '搜花'
    color rgba(255, 255, 255, .8)
    font-size 12px
    line-height 40px
    //position absolute
    //height 200%
    //width 200%
    //border-bottom 1px solid #3c5777
    //-webkit-transform-origin left top
    //transform-origin left top
    //-webkit-transform scale(0.5)
    //transform scale(0.5)





//.search
//  background-color #10274b
//  width 90px
//  height 81px
//  border-radius 0
//  margin-left 0
//  margin-top 0
//  padding-top 14px
//  text-align center
//  box-sizing border-box
//  display flex
//  align-items center
//  justify-content center
////position relative
//  //overflow hidden
//  //position relative
//
//  .text, .find, .iconfont,
//  .icon-wenbensousuo
//    display none
//
//  .icon-wenbensousuo:before
//    content ''
//
//
//  .camera
//    flex 0 0 40px
//    width 40px
//    height 40px
//    font-size 24px
//    color rgba(255, 255, 255, .8)
//    text-align center
//    border 10px solid red

  //.iconfont:nth-child(3)
  //  color #fff
  //  display inline-block
  //  height 80px
  //  width 80px !important
  //  font-size 24px
  //  line-height 40px
  //  text-align center
  //  -webkit-box-sizing border-box
  //  box-sizing border-box
  //  border 2px solid #9a99ff
    //border-radius 50%

.list-container
  width 90px
  background-color #10274b
  overflow hidden

  .list
    height 81px
    //position relative
    text-align center
    padding-top 14px
    box-sizing border-box

    .iconfont
      color #9a99ff
      display inline-block
      height 40px
      width 40px
      font-size 24px
      line-height 38px
      //text-align center
      -webkit-box-sizing border-box
      box-sizing border-box
      border 2px solid #9a99ff
      border-radius 50%

    .text
      color rgba(255, 255, 255, .8)
      font-size 12px
      line-height 40px

.list:after
  content ''
  position absolute
  left 0
  right 0
  bottom 0
  height 1px
  color #fff
  border-bottom 1px solid #3c5777
  -webkit-transform-origin 0 100%
  transform-origin 0 100%
  -webkit-transform scaleY(0.5)
  transform scaleY(0.5)





